/*main styles*/
html,body{
    font-family: 'Exo', sans-serif;
    box-sizing: border-box;
}




/*labels styles*/
.mainBody{
    margin: 50px 0;
}
.mainBody .container .row div p{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
.xAndStart{
    margin-bottom: 30px;
}
.table-responsive {
    display: table;
}